@import "./vars.css";


.App {
    width:100%;
    height:100%;
    background-image: url("./assets/nav/junheropic.jpg");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top right;
}



@font-face {
    font-family: 'Kalesta';
    src: url('../public/nauryzredkeds.ttf');
}

@font-face {
    font-family: 'Elanor';
    src: url('../public/ElanorFreePersonalUse-ExtLt.otf');
}

@media screen and (max-width:830px){
    .App {
        background-image: none;
    }
  }